.tournament-calendar {
    text-align: center;
    padding: 20px;
    position: relative; /* Positionierung erforderlich */
    overflow: hidden; /* Verhindert, dass der Kalender über die Container-Grenzen hinausragt */
}

.react-calendar {
    margin: 0 auto;
    width: 250%;
    max-width: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.calendar-event {
    background-color: #cce0ff;
    color: #1e3a8a;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
/* Setze die Schriftfarbe für den gesamten Kalender */
.custom-calendar {
    color: black; /* Standard-Schriftfarbe für alle Texte im Kalender */
}

/* Optional: Passe die Schriftfarbe für spezifische Elemente an */
.react-calendar__tile {
    color: black; /* Schriftfarbe für die einzelnen Tageskacheln */
}

.react-calendar__navigation button {
    color: black; /* Schriftfarbe für die Navigations-Buttons */
}

.react-calendar__month-view__days__day {
    color: black; /* Schriftfarbe für die Tagesnummern */
}

.calendar-event {
    color: black; /* Schriftfarbe für die Turnier-Events */
}
